.judul-keranjang {
    padding: 70px 140px 20px 140px;
    /* background-color: red; */
}

.checkout {
    display: flex;
    justify-content: end;
}

.btn-checkout {
    background-color: #0c4c8a !important;
    color: white !important;
    margin-left: 20px;
    height: 50px;

}

.tabel-keranjang {
    padding: 0px 190px 0px 140px;
    /* background-color: green; */
}

.card-kosong {
    margin: 10px 140px 20px 140px;
    height: 280px;
}

.card-kosong-item {
    display: flex;
    justify-content: center;
    align-items: center !important;
}

.product-name {
    align-items: center !important;
}

.image-obat-keranjang {
    height: 130px !important;
    object-fit: contain;
}

.price {
    font-size: 18px !important;
    margin: 0px 70px 0px 0px !important;
}

.bi-x-circle {
    font-size: 25px;
    cursor: pointer !important;
    color: red;
}

.bi-x-circle:hover {
    font-size: 25px;
    cursor: pointer !important;
    color: rgb(129, 0, 0);
}

.content-keranjang {
    min-height: 46vh;
}
