.navbar-default {
    background-color: #0c4c8a !important;
    color: white !important;
}

.navbar-light .navbar-brand {
    color: white !important;
}

.navbar-light .navbar-nav .nav-link {
    color: white !important;
}

.dropdown-menu {
    background-color: #063e75 !important;
    background-clip: padding-box;
    border: none !important;
    border-radius: 0.25 rem;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: #192133 !important;
}

.navbar-collapse-admin {
    justify-content: space-between ;
}

.navbar-items {
    color: white !important;
    text-decoration:none;
    margin-left: 10px;
}

.navbar-default {
    background-color: #0c4c8a !important;
}

.navbar-collapse-member {
    justify-content: end;
}

.badge-primary {
    background-color: orange !important;    
}