.logo-login {
    width: 250px;
}

.btn-register {
    background: rgb(0, 102, 150) !important;
    width: 100px;
    color: white !important;
}

.body-background {
    background-color: rgb(9, 9, 51) !important;
    height: 100vh;
}

.card-custom {
    background-color: rgb(13, 32, 75);
    color: white !important;
}

